<header>
    <!-- Imagem de fundo do Header -->
    <div id="background"></div>

    <!-- Logo Gamemania com o texto -->
    <div id="background2">

        <img id="logo" src="../assets/imagens/Logo.gif" alt="Logo" width="160" height="150">
        <div class="descricao">
            <h1>Os melhores jogos, encontra aqui!</h1>
            <p>Somos especialistas em comércio por atacado de games das principais plataformas no mercado mundial, tais como: Playstation, Xbox e Nintendo.</p>
        </div>
        <!-- Ícones Playstation e etc -->
        <div class="icones-gamer">
            <div class="ico">
                <img src="../assets/imagens/icones/playstation.png" alt="playstation logo" width="40" height="40">
                <p>Playstation</p>
            </div>

            <div class="ico">
                <img src="../assets/imagens/icones/xbox.png" alt="Xbox logo" width="40" height="40">
                <p>Xbox</p>
            </div>

            <div class="ico">
                <img src="../assets/imagens/icones/steam.png" alt="Steam logo" width="40" height="40">
                <p>Nintendo</p>
            </div>
        </div>
        <!-- Fim dos ícones -->
    </div>
    <!-- Fim do Logo Gamemania com o texto -->
</header>

<section id="destaques">

    <article id="item01" class="container-fluid">

        <div class="titulo">
            <img src="../assets/imagens/prize.png" width="40" height="40">
            <span></span>
            <h2>Destaques</h2>
        </div>

        <div class="row">
            <div class="descricao-item col-md-6">
                <div class="barra"></div>
                <div class="item">
                    <h2>Call of Duty®: Black Ops - Cold War</h2>
                    <p>Nada é o que parece numa emocionante campanha para um jogador da Raven Software, onde os intervenientes se defrontam com figuras históricas e verdades duras, ao lutarem em todo o mundo, passando por locais icónicos como Berlim Oriental,
                        o Vietname, a Turquia, a sede do KGB soviético e muito mais.
                    </p>
                    <button class="btn btn-primary">Comprar <img src="../assets/imagens/icones/add.png" width="24" height="24"></button>
                </div>
            </div>

            <div class="item-img col-md-6">
                <img src="../assets/imagens/fifa22.jpg" width="520" height="350">
                <!-- Comentário da foto -->
                <blockquote class="blockquote text-center">
                    <p>"Melhor jogo de guerra - 2021"</p>
                    <footer class="blockquote-footer">IGN Brasil</footer>
                </blockquote>
            </div>

        </div>

        <div class="row">


            <div class="item-img col-md-6">
                <img src="../assets/imagens/rdr2.jpg" width="520" height="350">
                <!-- Comentário da foto -->
                <blockquote class="blockquote text-center">
                    <p>"Melhor jogo de ação e aventura"</p>
                    <footer class="blockquote-footer">IGN Brasil</footer>
                </blockquote>
            </div>
            <div class="descricao-item col-md-6">

                <div class="item">
                    <h2>Assassin's Creed Valhalla</h2>
                    <p>Torne-se Eivor, um invasor Viking lendário em busca de glória. Explore a Idade das Trevas da Inglaterra enquanto ataca seus inimigos, amplia seu assentamento e consolida seu poder político.</p>
                    <button class="btn btn-primary">Comprar <img src="../assets/imagens/icones/add.png" width="24" height="24"></button>
                </div>
                <div class="barra"></div>
            </div>

        </div>
        <div class="row">
            <div class="descricao-item col-md-6">
                <div class="barra"></div>
                <div class="item">
                    <h2>The Evil Within®</h2>
                    <p>Do mestre Shinji Mikami, The Evil Within é a última evolução em terror de sobrevivência. O detetive Sebastian Castellanos perdeu tudo, mas quando ganha uma chance de salvar sua filha, ele deve descer mais uma vez ao mundo tenebroso
                        de STEM. Ameaças assustadoras surgem de cada canto à medida que o mundo se deforma ao seu redor. Ele enfrentará de frente as adversidades com armas e armadilhas ou se esgueirará pelas sombras para sobreviver.</p>
                    <button class="btn btn-primary">Comprar <img src="../assets/imagens/icones/add.png" width="24" height="24"></button>
                </div>
            </div>

            <div class="item-img col-md-6">
                <img src="../assets/imagens/village.jpg" width="520" height="350">
                <!-- Comentário da foto -->
                <blockquote class="blockquote text-center">
                    <p>"Melhor jogo de Terror"</p>
                    <footer class="blockquote-footer">IGN Brasil</footer>
                </blockquote>
            </div>

        </div>
        <div class="row">


            <div class="item-img col-md-6">
                <img src="../assets/imagens/halo.jpg" width="520" height="350">
                <!-- Comentário da foto -->
                <blockquote class="blockquote text-center">
                    <p>"Melhor jogo de RPG "</p>
                    <footer class="blockquote-footer">IGN Brasil</footer>
                </blockquote>
            </div>
            <div class="descricao-item col-md-6">

                <div class="item">
                    <h2>The Witcher 3: Wild Hun</h2>
                    <p>O terceiro capítulo da série The Witcher será também o seu último, encerrando a história da trilogia. Este novo episódio manterá a estrutura de mundo aberto que popularizou a franquia e trará sua própria história, independente das
                        anteriores, visando agradar tanto novos jogadores quanto os antigos.</p>
                    <button class="btn btn-primary">Comprar <img src="../assets/imagens/icones/add.png" width="24" height="24"></button>
                </div>
                <div class="barra"></div>
            </div>

        </div>
    </article>





</section>
<section id="galeria">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/imagens/horizon.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Tony Hawk's™ Pro Skater™ 1 + 2 </h5>
                    <p>Aquele remake mais que esperado.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/imagens/tlou2.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>The Last Os Us II</h5>
                    <p>Jogo mais esperado do século.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/imagens/zelda.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Super Mario</h5>
                    <p>Dês de 1985, acabando com a alegria das tartarugas.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
</section>

<section class="contact" id="contato">
    <div class="content">
        <p>Entre em contato comigo pelo Whatsapp, e-mail ou redes sociais. Se preferir, mande uma mensagem preenchendo os campos abaixo. </p>
    </div>
    <div class="container-contato">
        <div class="contact-info">
            <div class="box">
                <div class="icon"><img src="/assets/imagens/icones/maps.png"></div>
                <div class="text">
                    <h3>Endereço</h3>
                    <p>R. Estevão Pôrto, <br>Vila Dom Pedro I, São Paulo / SP, <br>CEP: 04270-020</p>
                </div>
            </div>
            <div class="box">
                <a id="whats" href="https://api.whatsapp.com/send?phone=+5511963980592">
                    <div class="icon">
                        <img src="/assets/imagens/icones/zap.png"></div>
                </a>
                <div class=" text ">
                    <h3>Telefone</h3>
                    <p>(11) 96398-0592</p>
                </div>
            </div>
            <div class="box ">
                <div class="icon "><img src="/assets/imagens/icones/email.png ">
                </div>
                <div class="text ">
                    <h3>Email</h3>
                    <p>rmuniz.dev@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="contact-form ">
            <h2>Envie uma mensagem</h2>
            <div class="inputBox ">
                <input type="text " name="name " required="required ">
                <span>Nome Completo</span>
            </div>
            <div class="inputBox ">
                <input type="text " name="email " required="required ">
                <span>Email</span>
            </div>
            <div class="inputBox ">
                <textarea required="required " name="message "></textarea>
                <span>Mensagem</span>
            </div>
            <div class="inputBox ">
                <button class="btn btn-primary">Enviar </button>
            </div>

        </div>
    </div>


</section>
<router-outlet></router-outlet>